:root{
    --main-text-color: #757575;
    --accent-text-color: #2196F3;
    --title-text-color: #212121;
}



.body {
    background-color: #ffffff;
    font-family: Roboto, Sans-serif;
    letter-spacing: 0.03em;
    font-style: normal;

}

.footer {
    background-color: #2F303A;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.hero {
    background-color: #2F303A;
 }

/* Hero */
.hero-title {
    color: #ffffff;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


.hero-btn {

    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    letter-spacing: 0.06em;

    color: #ffffff;
    background-color: var(--accent-text-color);
}

.hero-btn:hover,
.hero-btn:focus {
    cursor: pointer;
    background-color: rgba(83, 169, 239, 0.994);
    }


/* Logo */
.logo {
    color: #000000;
        
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.span-logo {
    color: var(--accent-text-color);
}

/* Nav-sidebar */
.menu-list .link {
    letter-spacing: 0.02em;
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

 .menu-link:hover,
 .menu-link:focus,
 .menu-link:active {
    color: var(--accent-text-color);
}

/* Подстветка текущей страницы */
.current .menu-link{
    color: var(--accent-text-color);
}

/* Contacts */
.contacts-list .contacts {
    color: var(--main-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts:hover,
.contacts:focus {
    color: var(--accent-text-color);
}

h2, h3 {
    color: var(--title-text-color);
}

/* Content */
.content-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.14;
}

/* Our teem */
.team {
    background-color: #F5F4FA;
}

.team-p {
    color: var(--main-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
}

.main-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.14;
    text-align: center;
    
}
/* Team h3 */
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    /* text-align: center; */
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}  



/* Benrfits */
.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--title-text-color);
}

.p-benefits {
    color: var(--main-text-color);
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;

}

/* Портфолио, Filtr кнопка */
.filtr-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
   
    text-align: center;
    letter-spacing: 0.03em;

    cursor: pointer;
    font-family: inherit;
    color:var(--title-text-color);
    background-color: #F5F4FA;

}



/* Prtfolio, h2, title-items */
.title-items {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.14;
    text-align:left;
}

.filtr-btn:hover,
.filtr-btn:focus {
    color: #ffffff;
    background-color: var(--accent-text-color);
}
/* Items */
.title-items {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.06em;

    color: var(--title-text-color);
}

.items-text {
    color: var(--main-text-color);
 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
}

/* Footter */

.footer .logo{
    color: #ffffff;
}


.footer-list  {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;

}
 
.footer-contact {
    color: rgba(255, 255, 255, 0.6);
    
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;   
}

.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-text-color);  
}

.footer-link {
    color: #ffffff;
}

